{% extends "base.html" %} 
{%block title%} Success! {%endblock%}

{% block body %}
<div class="container">
    <h2>Thank you for using my automater!</h2>

    {% if surveyType == "MCD" %}
        <h2>Here is your code:</h2>
        <h1 class="text-success">{{code}}
            <h2>To redeem your reward, write the code on your receipt, and show the employee next time you visit!</h2>
    {% else %}
        <h1 class="text-success">Please check your email for your validation code!
    {% endif %}
    <h3>
        Want to enter another survey code? Click <a class="nav-item nav-link" href="{{url_for('views.home')}}">here!</a>
    </h3>
        </div>
{% endblock %}
