{% extends "base-survey.html" %} 
{%block title%} Panda {%endblock%}

{% block content %}
</br>
<form action="/init/SurveyRunning" method="POST">
  <input type="hidden" name="surveyType" value="Panda">
    <div class="container">
        <h2>Welcome to my Panda Express survey automater! Type in your code and email below and hit submit to begin!</h2>
         <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
    </div>
{% endblock %}