{% extends "base.html" %} 
{%block title%} Home {%endblock%}

{% block content %}
</br>
<form action="/init/MCDSurveyRunning" method="POST">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <h2>Enter your code here! (Just numbers, no dashes)</h2>
    <h3 class="text-danger">{{ errorMessage }}</h1>
    <div class="form-row">
        <div class="col-2">
            <input type="text" class="form-control" placeholder="Code" name="code1">
        </div>
        <div class="col-2">
            <input type="text" class="form-control" name="code2">
        </div>
        <div class="col-2">
            <input type="text" class="form-control" name="code3">
        </div>
        <div class="col-2">
            <input type="text" class="form-control" name="code4">
        </div>
        <div class="col-2">
            <input type="text" class="form-control" name="code5">
        </div>
        <div class="col">
            <input type="text" class="form-control" name="code6">
        </div>

    </div>
    <button type="submit" class="btn btn-primary pd mt-4">Submit</button>
</form>
{% endblock %}